{% extends 'core/base_without_nav.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block head %}
    <style>
        body {
            background-image: url('{% static 'img/login_back.jpg' %}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .custom-container {
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 80%;
            background-color: white;
            padding: 2.5rem;
            border-radius: 2rem;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .custom-input {
            border: 1px solid transparent;
            transition: 0.5s ease;
        }
        
        .custom-input::placeholder {
            color: #94a3b8;
        }
        
        .custom-input:hover, 
        .custom-input:focus {
            border-color: #072815;
            background-color: #fff;
            box-shadow: 0 0 0 5px rgba(7, 40, 21, 0.3);
            outline: none;
        }

        .form-btn {
            background: #2B6721;
            padding: 10px 15px;
            border-radius: 20px;
            border: 0 !important;
            outline: 0 !important;
            color: white;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
        }
        
        .form-btn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        }
        
        .form-btn:active {
            transform: scale(1.15);
            box-shadow: none;
        }

        a {
            text-decoration: none;
            color: #84AD44;
            transition: color 0.3s ease;
        }
        
        a:hover {
            color: #2B6721;
        }

        .link-btn {
            background: #84AD44;
            padding: 5px 10px;
            border-radius: 20px;
            border: none; 
            color: white;
            cursor: pointer; 
            text-align: center;
            text-decoration: none;
            display: inline-block;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.3s ease;
        }
        
        .link-btn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
            background: #2B6721;
        }
        
        .link-btn:active {
            transform: scale(1.15);
            box-shadow: none;
        }
        
    </style>
{% endblock %}
{% block content %}

    <div class="center-container">
        <div class="custom-container" style="border-radius: 10px;">
            <h1><b>¡Bienvenid@!</b></h1>
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    Usuario o contraseña erróneos.
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="d-flex align-items-center position-relative mb-3 mt-3" style="width: 97%;">
                    <i class="bi bi-person-fill position-absolute" style="left: 1rem; color: #94a3b8; font-size: 1.5rem;"></i>
                    <input 
                      type="text" 
                      name="username"
                      class="form-control ps-5 custom-input" 
                      placeholder="Nombre de Usuario" 
                      style="height: 45px; border-radius: 10px; background-color: #f8fafc; color: #0d0c22;">
                </div>

                <div class="d-flex align-items-center position-relative mb-3 mt-3" style="width: 97%;">
                    <i class="bi bi-key-fill position-absolute" style="left: 1rem; color: #94a3b8; font-size: 1.5rem;"></i>
                    <input 
                      type="password" 
                      name="password"
                      class="form-control ps-5 custom-input" 
                      placeholder="Contraseña" 
                      style="height: 45px; border-radius: 10px; background-color: #f8fafc; color: #0d0c22;">
                </div>

                <div style="text-align: center;">
                    <button type="submit" class="form-btn mb-3 mt-3" style="width: 90%;" >Iniciar sesión</button>
                </div>

                <div style="text-align: center;">
                    <a href="{% url 'password_reset' %}" style="font-size: 0.9rem;">Olvidé mi contraseña</a>
                </div>

                <hr class="dropdown-divider mb-3 mt-2">

                <div style="text-align: center;">
                    <a href="{% url 'core:register' %}" class="link-btn mb-2 mt-2" style="width: 60%; font-size:0.9rem; background: #84AD44;">Crear una cuenta</a>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}{% endblock %}
