{% extends 'core/base_without_nav.html' %}
{% load static %}
{% block title %}Recuperar contraseña{% endblock %}
{% block head %}
    <style>
        body {
            background-image: url('{% static 'img/login_back.jpg' %}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .custom-container {
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 70%;
            background-color: white;
            padding: 2.5rem;
            border-radius: 2rem;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        
        .form-btn {
            background: #2B6721;
            padding: 10px 15px;
            border-radius: 20px;
            border: 0 !important;
            outline: 0 !important;
            color: white;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
        }
        
        .form-btn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        }
        
        .form-btn:active {
            transform: scale(1.15);
            box-shadow: none;
        }

        a {
            text-decoration: none;
            color: #84AD44;
            transition: color 0.3s ease;
        }
        
        a:hover {
            color: #2B6721;
        }

        .link-btn {
            background: #84AD44;
            padding: 5px 10px;
            border-radius: 20px;
            border: none; 
            color: white;
            cursor: pointer; 
            text-align: center;
            text-decoration: none;
            display: inline-block;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.3s ease;
        }
        
        .link-btn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
            background: #2B6721;
        }
        
        .link-btn:active {
            transform: scale(1.15);
            box-shadow: none;
        }
        
    </style>
{% endblock %}
{% block content %}

    <div class="center-container">
        <div class="custom-container" style="border-radius: 10px;">
            <h2 style="text-align: center;"><b>Restablecer contraseña enviado</b></h2>
            <div class="d-flex align-items-center position-relative mb-3 mt-3" style="width: 100%; text-align: center;">
                <p>
                    Le enviamos instrucciones por correo electrónico para configurar su contraseña, debería recibirlos en breve.
                    <br>
                    <br>
                    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
                </p>
            </div>
            <div style="text-align: center;">
                <a href="{% url 'core:home' %}" class="link-btn mb-2 mt-2" style="width: 100%; font-size:1.15rem; background: #84AD44;">Inicio</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
{% endblock %}
