{% extends 'core/base_without_nav.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block head %}
    <style>
        body {
            background-image: url('{% static 'img/login_back.jpg' %}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .custom-container {
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 70%;
            background-color: white;
            padding: 2.5rem;
            border-radius: 2rem;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .custom-input {
            border: 1px solid transparent;
            transition: 0.5s ease;
        }
          
        .custom-input::placeholder {
            color: #94a3b8;
        }
          
        .custom-input:hover, 
        .custom-input:focus {
            border-color: #072815;
            background-color: #fff;
            box-shadow: 0 0 0 5px rgba(7, 40, 21, 0.3);
            outline: none;
        }

        .form-btn {
            background: #2B6721;
            padding: 10px 15px;
            border-radius: 20px;
            border: 0 !important;
            outline: 0 !important;
            color: white;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
        }
        
        .form-btn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        }
        
        .form-btn:active {
            transform: scale(1.15);
            box-shadow: none;
        }

        a {
            text-decoration: none;
            color: #84AD44;
            transition: color 0.3s ease;
        }
        
        a:hover {
            color: #2B6721;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="center-container">
        <div class="custom-container" style="border-radius: 10px;">
            <h2 style="text-align: center;"><b>Restablecer contraseña</b></h2>
            <form method="post" action="">
                {% csrf_token %}
                <div class="d-flex align-items-center position-relative mb-2 mt-3" style="width: 97%;">
                    <button type="button" class="btn-eye position-absolute" style="left: 0.7rem; color: #94a3b8; font-size: 1.5rem; background: none; border: none;">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    <input 
                    type="password" 
                    name="new_password1"
                    class="form-control ps-5 custom-input password-field" 
                    placeholder="Contraseña" 
                    style="height: 45px; border-radius: 10px; background-color: #f8fafc; color: #0d0c22;" required>
                </div>
            
                <div class="d-flex align-items-center position-relative mb-3 mt-3" style="width: 97%;">
                    <button type="button" class="btn-eye position-absolute" style="left: 0.7rem; color: #94a3b8; font-size: 1.5rem; background: none; border: none;">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    <input 
                    type="password" 
                    name="new_password2"
                    class="form-control ps-5 custom-input password-field" 
                    placeholder="Confirmar Contraseña" 
                    style="height: 45px; border-radius: 10px; background-color: #f8fafc; color: #0d0c22;" required>
                </div>
            
                <div style="text-align: center;">
                    <button type="submit" class="form-btn mb-3 mt-3" style="width: 90%;">Cambiar contraseña</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButtons = document.querySelectorAll('.btn-eye');
            
            toggleButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const icon = button.querySelector('i');
                    const input = button.nextElementSibling;
                    
                    if (input.type === "password") {
                        input.type = "text";
                        icon.classList.remove('bi-eye-fill');
                        icon.classList.add('bi-eye-slash-fill');
                    } else {
                        input.type = "password";
                        icon.classList.remove('bi-eye-slash-fill');
                        icon.classList.add('bi-eye-fill');
                    }
                });
            });
        });
    </script>
{% endblock %}
