{% extends 'core/base_without_nav.html' %}
{% load static %}
{% block title %}Editar perfil{% endblock %}
{% block head %}
    <style>

        body {
            background-image: url('{% static 'img/login_back.jpg' %}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .custom-container {
            display: flex;
            flex-direction: column;
            width: 35%;
            min-height: 80%;
            background-color: white;
            padding: 2.5rem;
            border-radius: 2rem;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .custom-input {
            border: 1px solid transparent;
            transition: 0.5s ease;
        }
        
        .custom-input::placeholder {
            color: #94a3b8;
        }
        
        .custom-input:hover, 
        .custom-input:focus {
            border-color: #072815;
            background-color: #fff;
            box-shadow: 0 0 0 5px rgba(7, 40, 21, 0.3);
            outline: none;
        }

        .form-btn {
            background: #2B6721;
            padding: 10px 15px;
            border-radius: 20px;
            border: 0 !important;
            outline: 0 !important;
            color: white;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
        }
        
        .form-btn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        }
        
        .form-btn:active {
            transform: scale(1.15);
            box-shadow: none;
        }

        .points-container {
            display: flex;
            flex-direction: column;
            width: 20%;
            background-color: white;
            padding-top: 2rem;
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }

        a {
            text-decoration: none;
            color: #84AD44;
            transition: color 0.3s ease;
        }
        
        a:hover {
            color: #fff;
        }

        .link-btn {
            background: #84AD44;
            padding: 5px 10px;
            border-radius: 20px;
            border: none; 
            color: white;
            cursor: pointer; 
            text-align: center;
            text-decoration: none;
            display: inline-block;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.3s ease;
        }
        
        .link-btn:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
            background: #2B6721;
        }
        
        .link-btn:active {
            transform: scale(1.15);
            box-shadow: none;
        }
    </style>
{% endblock %}
{% block content %}
    

    <div class="center-container">
        <div class="custom-container" style="border-radius: 10px;">
            <h1><b>¡Hola {{ user.username }}!</b></h1>
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    Usuario o contraseña erróneos.
                </div>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="points-container" style="border-radius: 10px; position: absolute; left: 8%; top: 10%;">
                    {% if request.user.profile.hotel_logo %}
                        <img src="{{request.user.profile.hotel_logo.url}}" class="img-fluid" style="max-height: 50%;">
                        <p class="mt-1">¿Borrar? <input type="checkbox" name="hotel_logo-clear" id="hotel_logo-clear_id"> </p>
                    {% else %}
                        <img src="{% static 'img/no-icon.png' %}" style="width: 70%;">
                    {% endif %}
                    <p class="mt-2" style="font-size:1.3rem;"><b>Logo de tu hotel</b></p>
                </div>
                <div class="d-flex align-items-center position-relative mb-3 mt-3" style="width: 97%;">
                    <i class="bi bi-house-door-fill position-absolute" style="left: 1rem; color: #94a3b8; font-size: 1.5rem;"></i>
                    {{ form.name_hotel }}
                </div>
            
                <!-- Campo Ubicación -->
                <div class="d-flex align-items-center position-relative mb-3 mt-3" style="width: 97%;">
                    <i class="bi bi-geo-alt-fill position-absolute" style="left: 1rem; color: #94a3b8; font-size: 1.5rem;"></i>
                    {{ form.address }}
                </div>
            
                <!-- Campo Bio -->
                <div class="d-flex align-items-center position-relative mb-3 mt-3" style="width: 97%;">
                    <i class="bi bi-chat-fill position-absolute" style="top: 1rem; left: 1rem; color: #94a3b8; font-size: 1.5rem;"></i>
                    {{ form.bio }}
                </div>
            
                <!-- Campo Logo del Hotel -->
                <div class="mb-3 mt-3" style="width: 97%;">
                    <label for="hotel_logo">Logo del hotel</label>
                    <input class="form-control" type="file" id="hotel_logo" name="hotel_logo">
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="form-btn mb-2 mt-3" style="width: 90%;" >Actualizar</button>
                </div>

                <div style="text-align: center;">
                    <a href="{% url 'core:home' %}" class="link-btn mt-2" style="width: 40%; background: #84AD44;">Inicio</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}{% endblock %}
