{% extends 'core/base.html' %}
{% load static %}
{% block title %}Puntos obtenidos{% endblock %}
{% block head %}
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .custom-container {
            display: flex;
            flex-direction: column;
            width: 25%;
            background-color: white;
            padding: 2.5rem;
            border-radius: 2rem;
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="center-container">
        <h1 class="mt-4"><b>{{ survey }}</b></h1>
    </div>

    <div class="center-container question mt-4">
        <div class="custom-container" style="border-radius: 10px;">
            <p class="mt-3"><b>Puntuación final</b></p>
            <p style="color: #2B6721; font-size:1.5rem;"><b>{{ points }}</b><p/>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}